---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Biswas, a fullstack software developer and Graphic Designer from India 🇮🇳.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Python</li>
        <li>Mongo</li>
        <li>SQL</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about Designing, Dancing and reading. An
      unusual hobby of mine is to read manga and watch anime.
    </p>
  </div>
</Card>
